@font-face {
  font-display: swap;
  font-family: 'Source-Sans-3';
  font-style: normal;
  font-weight: 300;
  src: local('Source-Sans-3'),
    url('../fonts/source-sans-3/source-sans-3-v18-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Source-Sans-3';
  font-style: normal;
  font-weight: 400;
  src: local('Source-Sans-3'),
    url('../fonts/source-sans-3/source-sans-3-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Source-Sans-3';
  font-style: normal;
  font-weight: 500;
  src: local('Source-Sans-3'),
    url('../fonts/source-sans-3/source-sans-3-v18-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Source-Sans-3';
  font-style: normal;
  font-weight: 700;
  src: local('Source-Sans-3'),
    url('../fonts/source-sans-3/source-sans-3-v18-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Oxygen'), 
        url(../fonts/oxygen/300-normal.woff2) format('woff2');
}

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oxygen'), 
        url(../fonts/oxygen/400-normal.woff2) format('woff2');
}

@font-face {
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Oxygen'), 
        url(../fonts/oxygen/700-normal.woff2) format('woff2');
}