@import url('./components/_navigation.css');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.oxygen-bold {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.source-sans-light {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.source-sans-regular {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.source-sans-medium {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.source-sans-semibold {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.source-sans-bold {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    @apply text-black source-sans-regular bg-white;
}

h1, h2, h3 {
    @apply oxygen-regular;
}

.container {
    @apply max-w-full md:w-4xl lg:w-5xl mx-auto flex md:justify-center md:items-center px-4 md:px-2 lg:px-0;
}

.main-gradient {
    background: rgb(255,140,0);
background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(234,51,143,1) 52%, rgba(14,101,188,1) 100%);
}

.text-gradient {
    background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(234,51,143,1) 52%, rgba(14,101,188,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.bg-gradient-main {
    @apply bg-gradient-to-r from-orange via-pink to-blue;
}

.text-gradient-main {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-orange via-pink to-blue;
}